# Go
/bin/
/vendor/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
/*.test
/*txt
*.out

# OS
.DS_Store

# Databases
*.db

# Config
/configs/*.yaml
/configs/*.yml

# Logs
*.log

# Personal files
ROADMAP.md
bash.txt
*.wav
*.mp3