/* static/css/styles.css */
footer a {
    color:#666;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color:#000;
    text-decoration: underline;
}

/* Стилизация шапки и подвала */
header h4 {
    color: #666;
}
header .nav-link {
    color: rgba(0, 0, 0, .5);
    border-bottom: .1px solid transparent;
}
header .nav-link:hover, header .nav-link:focus {
    color: rgba(0, 0, 0, .8);
    border-bottom-color: rgba(0, 0, 0, .8);
}
header .nav-link.active {
    color: #000;
    border-bottom-color: #000;
}
footer p {
    color: rgba(0, 0, 0, .6);
}

/* Основная область main должна занимать доступное пространство */
/* main {
    overflow: hidden; 
} */

/* Стили для чата */
.chat-box {
    max-height: calc(60vh - 150px);
    scroll-behavior: smooth;
}

.message {
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    max-width: 80%;
    word-wrap: break-word;
}

/* Сообщения пользователя */
.message.user {
    background-color: #daf5e9;
    color: #198754;
    margin-left: auto;
    text-align: right;
}

.message.user .badge {
    background-color: #198754 !important;
 }

/* Сообщения ассистента */
.message.assistant {
    background-color: #bbffff;
    color: #007788;
    margin-right: auto;
    text-align: left;
}

.message.assistant .badge {
   background-color: #00abc2;
}


/* Стили для формы ввода */
#chat-form textarea {
    border-radius: .5rem;
    resize: auto;
}

#send-button {
    min-width: 50px; /* Минимальная ширина кнопки */
}

/* Стили для макета dashboard */
/* .dashboard-layout {
    gap: 1rem; 
} */

/* .sidebar {
    flex: 0 0 200px;
    max-height: calc(100vh - 150px); 
    overflow-y: auto; 
    text-align: left; 
} */

/* 
.chat-container {
    flex: 1; 
} */

/* Улучшение вида чатбокса в дашборде */
/* .dashboard-layout .chat-box {
     max-height: calc(100% - 100px); 
} */

/* Стиль для активного элемента истории (пример) */
#session-history .active a {
    color: #fff !important;
    font-weight: bold;
}

/* Стили для элементов списка истории */
#session-history li a:hover {
    color: #666 !important;
    text-decoration: underline !important;
}