<!DOCTYPE html>
<html lang="ru" class="h-100" data-bs-theme="dark">
    <head>
        {{template "parts/head.html" .}}
    </head>
    <body class="d-flex h-100 text-center bg-body-tertiary">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {{ template "parts/header.html" . }}
            <main class="px-3">
                {{ block "content" . }}{{ end }}
            </main>
            {{ template "parts/footer.html" . }}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>