<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru" class="h-100" data-bs-theme="light">
    <head>
        {{ template "parts/head.html" . }}
    </head>
    <body class="d-flex text-center h-100">
        <div class="container d-flex w-100 h-100 p-3 flex-column">
            {{ template "parts/header.html" . }}
            <main role="main">
                {{ block "content" . }}
                    {{ end }}
            </main>
            {{ template "parts/footer.html" . }}
        </div>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="/static/js/api.js"></script>
        <script type="module" src="/static/js/chat.js"></script>
    </body>
</html>