{{ define "parts/header.html" }}
<header class="mb-auto">
    <div>
    <h5 class="float-md-start mb-0">
        <img src="/static/brand/shaman.svg" width="42" alt="logotype">
    </h5>
    <nav class="nav nav-underline lead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 ps-0 active" aria-current="page" href="#">Welcome</a>
        <a class="nav-link fw-bold py-1 ps-1" href="#">Docs</a>
        <a class="nav-link fw-bold py-1 ps-1" href="#">Signin</a>
    </nav>
    </div>
</header>
{{ end }}